@tailwind base;
@tailwind components;
@tailwind utilities;

#adminmenu,
#wpfooter,
#wpadminbar,
#adminmenuback {
  display: none !important;
}
#wpbody-content,
#wpcontent,
#wpbody,
.wp-toolbar {
  padding: 0 !important;
  margin: 0 !important;
}


.updated,
.notice-info,
.notice-warning {
  display: none;
}

.update-nag notice notice-warning inline,
.notice:not(.wpcomsh-notice),
.error {
  display: none !important;
}
/* .commas:not(:last-child)::after {
  content: ",   ";
} */

/* .public-DraftEditor-content{
  padding-right: 10px !important;
  padding-left: 10px !important;
} */
/* עבור כפתור האישור */
.ant-btn-primary {
  @apply !bg-primary !border-primary
}
/* עבור כפתור הביטול */
.ant-btn:not(.ant-btn-primary):not(.ant-btn-dangerous):not(.ant-btn-link):not(.ant-btn-text) {
  @apply !text-primary !border-primary dark:!bg-slate-900
}
/* עבור כפתור הביטול במצב הובר */
.ant-btn:not(.ant-btn-primary):not(.ant-btn-dangerous):not(.ant-btn-link):not(.ant-btn-text):hover {
  @apply !text-primary !border-primary dark:!bg-slate-800
}
.ant-modal-content {
  @apply !text-white dark:!bg-slate-900 dark:!text-slate-200
}
.ant-modal-confirm-title,
.ant-modal-body  {
  @apply dark:!text-slate-200
}


.image-container img {
  width: 223px !important;
  height: 223px !important;
  object-fit: cover;
}

.scrollbar-none::-webkit-scrollbar {
  width: 0 !important;
  height: 8px !important;
}

.description-img img {
  max-height: 50px !important;
  width: auto;
  float: left;
  margin-right: 6px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 291 64% 42%;
    --primary-foreground: 311 25% 48%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 293 69% 49%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 8px !important;
  border-radius: 20px !important;
  /* cursor: pointer !important; */
}

::-webkit-scrollbar-thumb {
  background: #9c27b0;
  border-radius: 20px !important;
}

/* .rdw-editor-toolbar {
  direction: ltr;
} */

.rdw-editor-main {
  /* height: 500px; */
  max-height: 500px;
  padding: 10px;
}

.rdw-embedded-modal,
.rdw-link-modal {
  direction: ltr;
  height: auto;
  width: auto;
}

:dir(rtl) {
  .rdw-dropdown-carettoclose {
    left: 10%;
    right: auto;
    /* position: inherit;
   top:0%; */
  }

  .rdw-dropdown-carettoopen {
    left: 10%;
    right: auto;
    /* position: inherit;
    top:0%; */
  }
  .rdw-colorpicker-modal,
  .rdw-image-modal,
  .rdw-emoji-modal,
  .rdw-link-modal,
  .rdw-embedded-modal {
    left: auto;
  }
}

.rdw-option-wrapper,
.rdw-dropdownoption-default,
.rdw-dropdown-optionwrapper,
.rdw-dropdown-selectedtext,
.rdw-colorpicker-modal,
.rdw-image-modal,
.rdw-emoji-modal,
.rdw-link-modal,
.rdw-embedded-modal {
  @apply dark:!bg-slate-600 dark:!border-0 !rounded-md !min-h-7;
}
.rdw-dropdownoption-default,
.rdw-option-wrapper,
.rdw-dropdownoption-active,
.rdw-dropdown-wrapper {
 @apply dark:hover:!bg-slate-500;
}

.rdw-editor-toolbar {
  @apply !rounded-b-none !shadow-sm dark:!border-0 bg-fuchsia-50 dark:!bg-slate-900/80 dark:!text-black;
}
/* .rdw-option-wrapper {
  @apply !pt-2 !pb-2;
} */
.rdw-dropdownoption-active,
.rdw-dropdown-wrapper {
  @apply dark:!border-0 dark:!shadow-xl !rounded-lg !max-h-8;
}

.rdw-option-wrapper {
  @apply dark:!border-slate-500 dark:!shadow-xl !rounded-md;
}
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
  a {
    @apply hover:text-black border-none ring-0;
  }
}
/* .tox-dialog .tox-dialog-wrap .tox .tox-silver-sink .tox-tinymce-aux{
  z-index: 10000000 !important;
} */
